<h1> DAWWWWWWWG#<%=@dog.id%>, WHATS YOUR NAME? </h1>
  <p> my name is <%=@dog.name%> </p>
<h1>NICE TO MEET YOU <%=@dog.name.upcase%>, HOW OLD ARE YOU? </h1>
  <p> i am <%=@dog.age%> years old </p>
<% if @dog.age > 50 %>
  <p> DANG YOU OLD </p>
<% end %>